body
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: navy;
}
#Calculator
{
    justify-content: center;
    width: min(90%, 500px);
}
#screen
{
    width: 495px;
    margin-top: 0px;
    padding-top: 250px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    justify-content: center;
    text-align: center;
    background-color: burlywood;
    font-size: 50px;
    color: darkred;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    background-color: cornflowerblue;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    position: relative;
    font-family: "Comic Sans MS";
}

.grid-container :hover {
    background: royalblue;
}

.grid-container :active {
    position: relative;
    border: 2px solid darkred;

}

.grid-container :nth-child(4n){
    border-right: none;
}
